<ion-header class="ion-no-border">
  <ion-toolbar class="header-blanco">
    <img src="assets/logo-tutorias.png" alt="Tutorías entre Pares" class="logo-cabecera" slot="start" onerror="this.src='assets/logo-gietaes.png'">

    <ion-buttons slot="end" style="margin-right: 10px;">
      <ion-button (click)="irANotificaciones()" style="position: relative; --background: rgba(0, 51, 102, 0.05); --border-radius: 50%; width: 45px; height: 45px;">
        <ion-icon name="notifications-outline" style="color: #003366; font-size: 1.6rem;"></ion-icon>
        
        <div *ngIf="hayNotificacionesSinLeer" style="position: absolute; top: 10px; right: 10px; width: 10px; height: 10px; background-color: #EAB308; border-radius: 50%; border: 2px solid white;"></div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="linea-separadora"></div>
</ion-header>

<ion-content class="fondo-app">
  
  <div class="ion-padding ion-text-center contenedor-perfil" style="margin-top: 30px;">
    <div class="usuario-fila">
      <ion-icon name="person-circle-outline" class="icono-avatar"></ion-icon>
      <div class="texto-usuario">
        <h2>{{ usuario.nombre }}</h2>
        <p style="display: inline-flex; align-items: center; justify-content: center; gap: 5px; margin-top: 5px;">
          <ion-icon name="mail-outline" style="color: #003366;"></ion-icon> {{ usuario.correo }}
        </p>
        
        <p style="display: inline-flex; align-items: center; justify-content: center; gap: 5px; margin-top: 5px; font-weight: bold; color: #003366;">
          <ion-icon name="business-outline"></ion-icon> SEDE: {{ usuario.sede }}
        </p>
        <p style="font-size: 0.8rem; color: #666; margin-top: 8px; font-weight: bold; text-transform: uppercase; background: rgba(0,0,0,0.05); padding: 4px 10px; border-radius: 6px; display: inline-block;">
          Rol: {{ rolUsuario }}
        </p>
      </div>
    </div>
  </div>

  <div class="fab-container">
    <div class="fab-menu" *ngIf="menuAbierto">
      
      <!-- Botón para Postularse -->
      <button class="fab-item" (click)="irAPostulacion()">
        POSTULARSE <ion-icon name="book-outline"></ion-icon>
      </button>

      <!-- Botón dinámico para el Panel del Tutor -->
      <button class="fab-item" *ngIf="esTutor" (click)="irAPanelTutor()">
        PANEL TUTOR <ion-icon name="school-outline"></ion-icon>
      </button>

      <!-- Botón Admin -->
      <button class="fab-item" *ngIf="esAdmin" (click)="irAAdministracion()">
        PANEL ADMIN <ion-icon name="settings-outline"></ion-icon>
      </button>

      <!-- Cerrar Sesión -->
      <button class="fab-item" (click)="cerrarSesion()">
        CERRAR SESIÓN <ion-icon name="log-out-outline"></ion-icon>
      </button>

    </div>
    
    <button class="fab-amarillo" (click)="toggleMenu()">
      <ion-icon name="people-outline"></ion-icon>
    </button>
  </div>
</ion-content>